# Notebook Summary
#### In this notebook, I will be taking all of the datasets I found from Kaggle and analysing their content to facilitate merging data and taking as much content as I can to produce the master dataset for my project
Expected outcome: master dataset for the project

In [1]:
import pandas as pd
import pycountry

In [2]:
def make_lower_case(value):
    if isinstance(value, int) or isinstance(value, float):
        value = str(value)
    value = value.replace(" ", "")
    return value.lower()

In [3]:
def clean_airport_name(text):
    # remove the word "Airport", make all lowercase and any whitespaces
    if isinstance(text, int) or isinstance(text, float):
        text = str(text)
    text = text.lower()
    text = text.replace("airport", "")
    text = text.replace("airbase", "")
    text = text.replace("international", "")
    text = text.replace(" ", "")
    return text

In [4]:
def feet_to_meters(feet):
    return feet * 0.3048

In [5]:
def country_to_iso(country_name):
    try:
        country = pycountry.countries.search_fuzzy(country_name)[0]
        return country.alpha_2
    except LookupError:
        return "NOT_MATCHED"

# Airport Datasets

### Airports-Only.csv : https://www.kaggle.com/datasets/thoudamyoihenba/airports

#### This dataset is useful

In [6]:
airports_only_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\Airports-Only.csv", encoding = "ISO-8859-1")

In [7]:
airports_only_df.head()

,Airport_ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,TZ,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789002,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [8]:
airports_only_df.shape

(7698, 14)

In [9]:
airports_only_df["Country"].value_counts()

Country
United States    1512
Canada            430
Australia         334
Russia            264
Brazil            264
                 ...
Anguilla            1
Isle of Man         1
Macau               1
Jersey              1
Wake Island         1
Name: count, Length: 237, dtype: int64

In [10]:
# convert altitude to meters from feets
airports_only_df["Altitude"] = airports_only_df["Altitude"].apply(feet_to_meters)

In [11]:
airports_only_df["Name"] = airports_only_df["Name"].apply(clean_airport_name)

In [12]:
airports_only_df["City"] = airports_only_df["City"].apply(make_lower_case)

In [13]:
# convert country into iso code so it can compared to other datasets
airports_only_df["iso_country"] = airports_only_df["Country"].apply(country_to_iso)

SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='NG-NI', country_code='NG', name='Niger', parent_code=None, type='State')
SubdivisionHierarchy(code='BE-WLX', country_code='BE', name='Luxembourg', parent='WAL', parent_code='BE-WAL', type='Province')
SubdivisionHierarchy(code='LU-LU', country_code='LU', name='Luxembourg', parent_code=None, type='Canton')
SubdivisionHierarchy(code='SH-HL', country_code='SH', name='Saint Helena', parent_code=None, type='Geographical entity')
SubdivisionHierarchy(code='FR-976', country_code='FR', name='Mayotte', parent='YT', parent_code='FR-YT', type='Overseas department')
SubdivisionHierarchy(code='FR-YT', country_code='FR', name='Mayotte', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='BZ-BZ', country_code='BZ', name='Belize', parent_code=None, type='District')
SubdivisionHierarchy(code='US-AS', country_code='US', name='American Samoa', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-MP', country_code='US', name='Northern Mariana Islands', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-MP', country_code='US', name='Northern Mariana Islands', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-GU', country_code='US', name='Guam', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-GU', country_code='US', name='Guam', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-MP', country_code='US', name='Northern Mariana Islands', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='UM-71', country_code='UM', name='Midway Islands', parent_code=None, type='Islands, groups of islands')
SubdivisionHierarchy(code='FR-972', country_code='FR', name='Martinique', parent='MQ', parent_code='FR-MQ', type='Overseas department')
SubdivisionHierarchy(code='FR-MQ', country_code='FR', name='Martinique', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='NL-AW', country_code='NL', name='Aruba', parent_code=None, type='Country')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='DJ-DJ', country_code='DJ', name='Djibouti', parent_code=None, type='City')
SubdivisionHierarchy(code='BZ-BZ', country_code='BZ', name='Belize', parent_code=None, type='District')
SubdivisionHierarchy(code='UM-67', country_code='UM', name='Johnston Atoll', parent_code=None, type='Islands, groups of islands')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='FR-971', country_code='FR', name='Guadeloupe', parent='GP', parent_code='FR-GP', type='Overseas department')
SubdivisionHierarchy(code='FR-GP', country_code='FR', name='Guadeloupe', parent_code=None, type='Overseas region')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='US-PR', country_code='US', name='Puerto Rico', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='US-AS', country_code='US', name='American Samoa', parent_code=None, type='Outlying area')
SubdivisionHierarchy(code='UM-79', country_code='UM', name='Wake Island', parent_code=None, type='Islands, groups of islands')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='BZ-BZ', country_code='BZ', name='Belize', parent_code=None, type='District')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='DJ-DJ', country_code='DJ', name='Djibouti', parent_code=None, type='City')
SubdivisionHierarchy(code='DJ-DJ', country_code='DJ', name='Djibouti', parent_code=None, type='City')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='GN-ML', country_code='GN', name='Mali', parent='L', parent_code='GN-L', type='Prefecture')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')
SubdivisionHierarchy(code='PA-8', country_code='PA', name='Panamá', parent_code=None, type='Province')
SubdivisionHierarchy(code='US-GA', country_code='US', name='Georgia', parent_code=None, type='State')
SubdivisionHierarchy(code='GT-GU', country_code='GT', name='Guatemala', parent_code=None, type='Department')
SubdivisionHierarchy(code='MX-MEX', country_code='MX', name='México', parent_code=None, type='State')

In [56]:
airports_only_df["iata"] = airports_only_df["iata"].apply(make_lower_case)

In [57]:
airports_only_df

,airport_name,city,iso_country,iata,altitude,latitude,longitude
0,goroka,goroka,pg,gka,1609.9536,-6.081690,145.391998
1,madang,madang,pg,mag,6.0960,-5.207080,145.789002
2,mounthagenkagamuga,mounthagen,pg,hgu,1642.2624,-5.826790,144.296005
3,nadzab,nadzab,pg,lae,72.8472,-6.569803,146.725977
4,portmoresbyjacksons,portmoresby,pg,pom,44.5008,-9.443380,147.220001
...,...,...,...,...,...,...,...
7693,rogachyovoairbase,belaya,ru,\n,82.9056,71.616699,52.478298
7694,ulan-udeeast,ulanude,ru,\n,509.0160,51.849998,107.737999
7695,krechevitsyairbase,novgorod,ru,\n,25.9080,58.625000,31.385000
7696,desiertodeatacama,copiapo,cl,cpo,204.2160,-27.261200,-70.779198
7697,melitopolairbase,melitopol,ua,\n,0.0000,46.880001,35.305000

In [15]:
# rename columns to standardise everything across the datasets
airports_only_df = airports_only_df.rename(columns={"Name": "airport_name", "City": "city", "IATA": "iata", "Altitude": "altitude", "Latitude": "latitude", "Longitude": "longitude"})

In [16]:
airports_only_df["iso_country"] = airports_only_df["iso_country"].apply(make_lower_case)

In [17]:
airports_only_df = airports_only_df[["airport_name", "city", "iso_country", "iata", "altitude", "latitude", "longitude"]]

In [18]:
airports_only_df

,airport_name,city,iso_country,iata,altitude,latitude,longitude
0,goroka,goroka,pg,GKA,1609.9536,-6.081690,145.391998
1,madang,madang,pg,MAG,6.0960,-5.207080,145.789002
2,mounthagenkagamuga,mounthagen,pg,HGU,1642.2624,-5.826790,144.296005
3,nadzab,nadzab,pg,LAE,72.8472,-6.569803,146.725977
4,portmoresbyjacksons,portmoresby,pg,POM,44.5008,-9.443380,147.220001
...,...,...,...,...,...,...,...
7693,rogachyovoairbase,belaya,ru,\N,82.9056,71.616699,52.478298
7694,ulan-udeeast,ulanude,ru,\N,509.0160,51.849998,107.737999
7695,krechevitsyairbase,novgorod,ru,\N,25.9080,58.625000,31.385000
7696,desiertodeatacama,copiapo,cl,CPO,204.2160,-27.261200,-70.779198
7697,melitopolairbase,melitopol,ua,\N,0.0000,46.880001,35.305000

### World_Airports.csv : https://www.kaggle.com/datasets/mexwell/world-airports

In [19]:
world_airports_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\World_Airports.csv")

In [20]:
world_airports_df.head(2)

,X,Y,OBJECTID,id,airport_ident,type,name,latitude_deg,longitude_deg,elevation_ft,...,home_link,wikipedia_link,keywords,description,frequency_mhz,runway_length_ft,runway_width_ft,runway_surface,runway_lighted,runway_closed
0,-1.301162e+07,4.212194e+06,1,6528,00CA,small_airport,Goldstone (GTS) Airport,35.35474,-116.885329,3038.0,...,NaN,NaN,NaN,CTAF,122.9,6000.0,80.0,ASPH,0.0,0.0
1,-9.034601e+06,3.347916e+06,2,6589,01FL,small_airport,Cedar Knoll Flying Ranch Airport,28.78190,-81.159203,19.0,...,NaN,NaN,NaN,NaN,122.9,3000.0,50.0,TURF,1.0,0.0

In [21]:
world_airports_df.columns

Index(['X', 'Y', 'OBJECTID', 'id', 'airport_ident', 'type', 'name',
       'latitude_deg', 'longitude_deg', 'elevation_ft', 'continent',
       'iso_country', 'iso_region', 'municipality', 'scheduled_service',
       'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link',
       'keywords', 'description', 'frequency_mhz', 'runway_length_ft',
       'runway_width_ft', 'runway_surface', 'runway_lighted', 'runway_closed'],
      dtype='object')

In [22]:
world_airports_df.shape

(75052, 28)

In [23]:
world_airports_df["type"].value_counts()

type
small_airport     39419
heliport          19080
closed            10164
medium_airport     4747
seaplane_base      1133
large_airport       464
balloonport          45
Name: count, dtype: int64

In [24]:
# drop everything apart from medium and large airports
world_airports_df = world_airports_df[world_airports_df['type'].isin(["medium_airport", "large_airport"])]

In [25]:
world_airports_df = world_airports_df[["name", "latitude_deg", "longitude_deg", "elevation_ft", "iso_country",	"municipality", "iata_code"]]

In [26]:
# clean and standardise the data
world_airports_df["name"] = world_airports_df["name"].apply(clean_airport_name)
world_airports_df["elevation_meters"] = world_airports_df["elevation_ft"].apply(feet_to_meters)
world_airports_df["iso_country"] = world_airports_df["iso_country"].apply(make_lower_case)
world_airports_df["municipality"] = world_airports_df["municipality"].apply(clean_airport_name)
world_airports_df["iata_code"] = world_airports_df["iata_code"].apply(make_lower_case)

In [27]:
# rename columns
world_airports_df = world_airports_df.rename(columns={"name": "airport_name", "latitude_deg": "latitude", "longitude_deg": "longitude", "elevation_meters" :"altitude", "iata_code": "iata"})

In [28]:
# reorganise and reorder columns
world_airports_df = world_airports_df[["airport_name", "municipality", "iso_country", "iata", "altitude", "latitude", "longitude"]]

In [29]:
world_airports_df

,airport_name,municipality,iso_country,iata,altitude,latitude,longitude
6406,aleknagik/new,aleknagik,us,wkk,20.1168,59.282600,-158.617996
10019,honiara,honiara,sb,hir,8.5344,-9.428000,160.054993
10020,munda,munda,sb,mua,3.0480,-8.327970,157.263000
10023,nauru,yarendistrict,nr,inu,6.7056,-0.547458,166.919006
10042,buka,bukaisland,pg,bua,3.3528,-5.422320,154.673004
...,...,...,...,...,...,...,...
75035,mohegulian,mohe,cn,ohe,559.6128,52.916871,122.422759
75036,songyuanchaganhu,qiangorlosmongolautonomouscounty,cn,ysq,139.9032,44.938114,124.550178
75037,tonghuasanyuanpu,tonghua,cn,tnh,365.7600,42.253889,125.703333
75038,yingkoulanqi,"laobian,yingkou",cn,ykh,NaN,40.542524,122.358600
75048,shenyangdongta,"dadong,shenyang",cn,nan,NaN,41.784401,123.496002

### airports.csv : https://www.kaggle.com/code/fabiendaniel/predicting-flight-delays-tutorial/input?select=flights.csv
#### NOT USEFUL

In [30]:
airports2_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\airports.csv")

In [31]:
airports2_df.head(3)

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919

In [32]:
airports2_df["COUNTRY"].unique()
# well this dataset is not very useful given it only has US airports

array(['USA'], dtype=object)

## Make Master Airport Dataframe

### there are two datasets which I am going to use airports_only_df and world_airports_df

In [33]:
airports_only_df.shape

(7698, 7)

In [34]:
world_airports_df.shape

(5211, 7)

In [58]:
airports_only_df.head(2)

  airport_name    city iso_country iata   altitude  latitude   longitude
0       goroka  goroka          pg  gka  1609.9536  -6.08169  145.391998
1       madang  madang          pg  mag     6.0960  -5.20708  145.789002

In [80]:
airports_only_df["iata"].isnull().any()

False

In [59]:
world_airports_df.head(2)

,airport_name,municipality,iso_country,iata,altitude,latitude,longitude
6406,aleknagik/new,aleknagik,us,wkk,20.1168,59.2826,-158.617996
10019,honiara,honiara,sb,hir,8.5344,-9.4280,160.054993

In [81]:
world_airports_df["iata"].isnull().any()

False

In [62]:
# merge on iata, assuming iata is a unique value (key)
airports_merged = pd.merge(airports_only_df, world_airports_df, how="outer", on="iata", suffixes=("_only", "_world"))

In [63]:
airports_merged.shape

(8497, 13)

In [64]:
airports_merged

,airport_name_only,city,iso_country_only,iata,altitude_only,latitude_only,longitude_only,airport_name_world,municipality,iso_country_world,altitude_world,latitude_world,longitude_world
0,winnipeg/st.andrews,winnipeg,ca,\n,231.6480,50.056400,-97.032501,NaN,NaN,NaN,NaN,NaN,NaN
1,halifax/cfbshearwaterheliport,halifax,ca,\n,43.8912,44.639702,-63.499401,NaN,NaN,NaN,NaN,NaN,NaN
2,princeton,princeton,ca,\n,700.4304,49.468102,-120.511002,NaN,NaN,NaN,NaN,NaN,NaN
3,pittmeadows,pittmeadows,ca,\n,3.3528,49.216099,-122.709999,NaN,NaN,NaN,NaN,NaN,NaN
4,boufarik,boufarik,dz,\n,102.1080,36.545799,2.876110,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8492,zabrat,baku,az,zxt,10.9728,40.495542,49.976807,zabrat,baku,az,10.9728,40.495542,49.976807
8493,zunyixinzhou,zunyi,cn,zyi,890.0160,27.589500,107.000700,zunyixinzhou,zunyi,cn,890.0160,27.589500,107.000700
8494,osmany,sylhetosmani,bd,zyl,15.2400,24.963200,91.866798,osmany,sylhet,bd,15.2400,24.963832,91.864843
8495,mzuzu,mzuzu,mw,zzu,1254.2520,-11.444700,34.011799,mzuzu,mzuzu,mw,1254.2520,-11.444700,34.011799
8496,zanesvillemunicipal,zanesville,us,zzv,274.3200,39.944401,-81.892097,zanesvillemunicipal,zanesville,us,274.3200,39.944401,-81.892097

In [75]:
airports_merged["iata"].value_counts()

iata
\n     1626
nan     693
ppm       1
pqc       1
ppy       1
       ...
hph       1
hpg       1
hpb       1
hpa       1
zzv       1
Name: count, Length: 6180, dtype: int64

In [ ]:
# clearly some airports had missing iata code so I could do a cosine similarity name matching for airport name or use latitude+longitude

# Flight Datasets

### flight_delay_data.csv : https://www.kaggle.com/datasets/aadharshviswanath/flight-data

In [37]:
flight_delay_data_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\flight_delay_data.csv")

In [38]:
flight_delay_data_df

,Flight_ID,Date,Time,Departure_Airport,Arrival_Airport,Temperature_Celsius,Wind_Speed_knots,Turbulence_Level,Visibility_km
0,142,2024-10-11,10:25,ATL Airport,SEA Airport,35,45,High,19
1,110,2024-01-20,18:38,IAH Airport,AUS Airport,3,25,Low,6
2,113,2024-12-26,12:50,STL Airport,SEA Airport,20,48,Medium,6
3,3,2024-08-19,07:28,MCO Airport,LAS Airport,33,48,High,18
4,22,2024-12-07,07:10,LAX Airport,SEA Airport,28,34,Low,20
...,...,...,...,...,...,...,...,...,...
9995,113,2024-10-17,11:44,CLT Airport,AUS Airport,-15,17,High,2
9996,128,2024-11-16,20:02,PHL Airport,CMH Airport,-8,6,Medium,12
9997,9,2024-07-23,13:16,LAS Airport,DEN Airport,9,22,Medium,4
9998,51,2024-05-19,13:29,TPA Airport,SAN Airport,-11,2,Medium,12
9999,193,2024-10-26,00:06,CLT Airport,IND Airport,24,34,High,1

In [39]:
# remove the world "Airport" from Departure/Arrival Airport and any whitespaces

In [40]:
flight_delay_data_df["Departure_Airport"] = flight_delay_data_df["Departure_Airport"].apply(clean_airport_name)
flight_delay_data_df["Arrival_Airport"] = flight_delay_data_df["Arrival_Airport"].apply(clean_airport_name)

In [41]:
flight_delay_data_df

,Flight_ID,Date,Time,Departure_Airport,Arrival_Airport,Temperature_Celsius,Wind_Speed_knots,Turbulence_Level,Visibility_km
0,142,2024-10-11,10:25,atl,sea,35,45,High,19
1,110,2024-01-20,18:38,iah,aus,3,25,Low,6
2,113,2024-12-26,12:50,stl,sea,20,48,Medium,6
3,3,2024-08-19,07:28,mco,las,33,48,High,18
4,22,2024-12-07,07:10,lax,sea,28,34,Low,20
...,...,...,...,...,...,...,...,...,...
9995,113,2024-10-17,11:44,clt,aus,-15,17,High,2
9996,128,2024-11-16,20:02,phl,cmh,-8,6,Medium,12
9997,9,2024-07-23,13:16,las,den,9,22,Medium,4
9998,51,2024-05-19,13:29,tpa,san,-11,2,Medium,12
9999,193,2024-10-26,00:06,clt,ind,24,34,High,1

### flights.csv : https://www.kaggle.com/code/fabiendaniel/predicting-flight-delays-tutorial/input?select=flights.csv

In [42]:
flights_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\flights.csv")

C:\Users\yisi9\AppData\Local\Temp\ipykernel_4884\1262240687.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\flights.csv")

In [43]:
flights_df.head(3)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
flights_df["ORIGIN_AIRPORT"] = flights_df["ORIGIN_AIRPORT"].apply(make_lower_case)

In [45]:
flights_df["DESTINATION_AIRPORT"] = flights_df["DESTINATION_AIRPORT"].apply(make_lower_case)

### Airplane_Crashes_and_Fatalities_Since_1908_t0_2023.csv : https://www.kaggle.com/datasets/nayansubedi1/airplane-crashes-and-fatalities-upto-2023

In [46]:
airplane_crashes_fatalities_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\Airplane_Crashes_and_Fatalities_Since_1908_t0_2023.csv", encoding="latin-1")

In [47]:
airplane_crashes_fatalities_df.head(2)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,9/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,9/7/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...

# Airlines Mapping

### airlines.csv :  https://www.kaggle.com/code/fabiendaniel/predicting-flight-delays-tutorial/input?select=flights.csv

In [48]:
airlines_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\airlines.csv")

In [49]:
airlines_df

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

# Weather Dataset

### daily_weather.parquet countries.csv cities.csv  : https://www.kaggle.com/datasets/guillemservera/global-daily-climate-data

In [50]:
daily_weather_df = pd.read_parquet(r"E:\Github\AirportTrendAnalysis\data\daily_weather.parquet")

In [51]:
daily_weather_df.head(2)

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
countries_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\countries.csv")

In [53]:
countries_df.head(2)

,country,native_name,iso2,iso3,population,area,capital,capital_lat,capital_lng,region,continent
0,Afghanistan,افغانستان,AF,AFG,26023100.0,652230.0,Kabul,34.526011,69.177684,Southern and Central Asia,Asia
1,Albania,Shqipëria,AL,ALB,2895947.0,28748.0,Tirana,41.326873,19.818791,Southern Europe,Europe

In [54]:
cities_df = pd.read_csv(r"E:\Github\AirportTrendAnalysis\data\cities.csv")

In [55]:
cities_df.head(2)

,station_id,city_name,country,state,iso2,iso3,latitude,longitude
0,41515,Asadabad,Afghanistan,Kunar,AF,AFG,34.866000,71.150005
1,38954,Fayzabad,Afghanistan,Badakhshan,AF,AFG,37.129761,70.579247